html
  head
    style
      include zwallet.css

    title #{title}

  body
    include clientheader.pug

    p.function Aanmaken bericht in logboek

    form(action=formaction method='POST')
      table(border='0', cellpadding='2', cellspacing='1')
        tbody
          tr
            td(width='200')
              p.smalllabel Uitvoeren:
            td
              select(name='function')
                option(value='addnote') Aanmaken bericht
          tr
            td
              p.smalllabel Titel:
            td
              input(type='text', name='title', value='')
          tr
            td
              p.smalllabel Bericht:
            td
              textarea(name='body', value='', rows='15', cols='60')

      <br>
      <input type = "submit" class="buttonr" value = "Verzenden">
